# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Packaging
*.egg-info/
dist/
build/

# Poetry
.poetry/

# Virtual environments
.venv/
venv/
ENV/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
